// bower:scss
// endbower

body {
    background: url("http://th02.deviantart.net/fs70/PRE/i/2012/052/8/0/taking_a_break__scrapbook_paper_by_msbarbee-d4qk6s4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
    margin-top: 10px;
    padding:100px 200px 50px;
    color: white;
}


.container {
    height: 300px;
    width: 600px;
    border: 4px solid black;
    overflow: scroll;

    .image {
        float: left;
        padding: 10px;


        img {
            height: 100px;
            width: 100px;
        }
    }
}

.save-button{
    width:400px;
    height:50px;
    background-color:grey;
    border: 4px solid black;
    text-align:center;
}

.edit-button{
    width:400px;
    height:50px;
    background-color:blue;
    border: 4px solid black;
    text-align:center;

}

.details-container{
    width:400px;
    height:600px;
    overflow: hidden;
    background-color: black;
    float: left;
    
    img {
            width: 300px;
        }


}










